
*{
    margin: 0;
    padding: 0;
    font-weight: 0;
}
body{
    overflow: hidden;
}
.font-style{
    color: #cdcdcd;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 36px;
}
.container{
    margin-top: 529px;
    margin-left: 96px;
}
body {
    background-color: #1f2041;
}
.btm-mrgn{
 margin-bottom: 26px;
}
.mrgn{
    width:12px;
    height: 7px;
   
}
.cont1{
    width: 232px;
    display: flex;
}
.cont2{
    width: 222px;
    display: flex;
}          
.cont3{
    width: 275px;
    display: flex;
}        
.cont4{
    width: 354px;
    display: flex;
}                                 
.img1, .img2{
    margin-top: 17px;
    margin-left: 15px;
}
.img3,.img4{
    margin-top:35px;
    margin-left:15px ;
}
#content3{
    width: 210px;
}
#content4{
    width: 280px;
}

/*level 5 card css  */
.cardContainer {
    background-color: #1C1C1C;
    width: 461px;
    height: 936px;
    position: absolute;
    top: 144px;
    right: 0; /* Adjust the right position as needed */
    overflow: auto;
}
.rectangle{
    border-top-left-radius:16px;
}
.card2{
    width: 413px;
    height: 414px;
    Padding :24px;
    gap: 24px;
}
#card2text1{
    color: white;
    font-size: 32px;
    width: 413px;
    height: 90px;
    line-height: 44.8px;
}
#card2text2{
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
    width :413px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}
.card2images {
    display: flex;
    justify-content: space-between;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of content */
}

.card2images img {
    width: 249px;
    height: 166px;
    border-radius: 8px;
    margin-bottom: 12px;
    margin-right: 12px;
}


