.c-overlay-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100svh;
  width: 480px;
  background: linear-gradient(to right, #000000FF, #00000000);
  z-index: 1;
  opacity: 40%;
  pointer-events: none;
}